<div class="container-contact100">
  <div class="wrap-contact100 w-50">
    <span class="contact100-form-title text-center pb-10">
      {{usuario?.estado == true && error == null ? 'El usuario ha sido activado!' : ''}}
      {{usuario?.estado == false && error != null ? 'No se ha podido activar el usuario!' : ''}}
      {{usuario?.estado == true && error != null ? 'La usuario ya se encuentra activado!' : ''}}
    </span>
    <div class="text-center">
      <div *ngIf="usuario?.estado == true && error == null">
        Para continuar presione <a [routerLink]="'/usuarios/listar'">aquí.</a>
      </div>
      <div *ngIf="usuario?.estado == false && error != null">
        No se ha podido activar la cuenta por el siguiente motivo: {{error}}. Si su token es correcto intente nuevamente presionando<a [routerLink]="'/usuarios/activacion/'+token">aquí.</a>
      </div>
      <div *ngIf="usuario?.estado == true && error != null">
        No se ha podido activar la cuenta por el siguiente motivo: {{error}}
      </div>
    </div>
  </div>
</div>
