<div class="container-contact100">
  <div class="wrap-contact100">
    <form [formGroup]="usuarioForm" class="contact100-form validate-form">
				<span class="contact100-form-title text-center">
					Registro Usuario
				</span>
      <app-rut id="rut" [(ngModel)]="rut" #rutComponent [ngModelOptions]="{standalone: true}" ngDefaultControl></app-rut>
      <div class="wrap-input100">
        <label for="nombre" class="label-input100">Nombre</label>
        <input type="text" id="nombre" class="input100" [(ngModel)]="usuario.nombre" formControlName="nombre">
        <span class="focus-input100"></span>
        <small
          [hidden]="usuarioForm.controls['nombre'].valid || usuarioForm.controls['nombre'].pristine"
          class="text-danger">
          {{usuarioForm.controls['nombre'].hasError('required') ? 'Nombre requerido' : ''}}
        </small>
      </div>
      <div class="wrap-input100">
        <label for="apellido" class="label-input100">Apellido</label>
        <input type="text" id="apellido" class="input100" [(ngModel)]="usuario.apellido" formControlName="apellido">
        <span class="focus-input100"></span>
        <small
          [hidden]="usuarioForm.controls['apellido'].valid || usuarioForm.controls['apellido'].pristine"
          class="text-danger">
          {{usuarioForm.controls['apellido'].hasError('required') ? 'Apellido requerido' : ''}}
        </small>
      </div>
      <div class="wrap-input100">
        <label for="correo" class="label-input100">Correo</label>
        <input type="text" id="correo" class="input100" [(ngModel)]="usuario.correo" formControlName="correo">
        <span class="focus-input100"></span>
        <small
          [hidden]="usuarioForm.controls['correo'].valid || usuarioForm.controls['correo'].pristine"
          class="text-danger">
          {{usuarioForm.controls['correo'].hasError('required') ? 'Correo requerido' : 'Formato Inválido'}}
        </small>
      </div>
      <div class="container-contact100-form-btn">
        <div class="wrap-contact100-form-btn">
          <div class="contact100-form-bgbtn"></div>
          <button class="contact100-form-btn" (click)="guardar()" [disabled]="working">
							<span>
								{{working ? 'Cargando' : 'Registrar'}}
								<i [class]="!working ? 'fa fa-long-arrow-right m-l-7' : 'fa fa-spinner m-l-7 fa-spin'" aria-hidden="true"></i>
							</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
