<div class="wrap-input100">
  <label for="rut" class="label-input100">Rut</label>
  <input id="rut" type="text" class="form-control border-0 input100" style="height: 25px" [(ngModel)]="rut" (input)="onChange($event)" autocomplete="off">
  <span class="focus-input100"></span>
  <small class="text-danger" *ngIf="required">Rut Requerido</small>
  <small class="text-danger" *ngIf="invalid">Rut Inválido</small>
</div>
