<div class="container-lista100">
  <div class="card">
    <span class="contact100-form-title p-3">
					Inicio
				</span>
    <div class="card-body">
      <p>El siguiente proyecto es el desarrollo del examen técnico de Scharfstein Labs,
        el cuál es una aplicación web que permite las operación básicas de registrar/actualizar, buscar, listar y
        eliminar
        usuarios a través de una API Rest.</p>
      <p>El stack de la aplicación es <span
        class="font-weight-bold">Angular 11 + Spring Boot 2.3.5 + PostgreSQL 13</span>.
      </p>
      <p>El desarrollo de front end se utilizó <a class="color-cyanide"
                                                  href="https://www.jetbrains.com/es-es/webstorm/download/#section=windows">Webstorm
        2020.2.3</a></p>
      <p>El desarrollo de back end se utilizó <a class="color-cyanide"
                                                 href="https://www.jetbrains.com/es-es/idea/download/#section=windows"
                                                 target="_blank">IntelliJ IDEA Ultimate 2020.2.3</a></p>
      <p>Para el diseño se usó template formulario <a class="color-cyanide"
                                                      href="https://colorlib.com/etc/cf/ContactFrom_v4/index.html"
                                                      target="_blank">Colorlib</a>, las vistas adicionales fueron diseños
        propios basados en los recursos css del template.</p>
    </div>
  </div>
</div>
