<div class="container-lista100">
  <div class="card">
    <span class="contact100-form-title p-3">
					Lista de Usuarios
				</span>
    <div class="card-body">
      <table class="table table-sm table-bordered">
        <thead>
        <tr>
          <th class="w-10 text-center">ID</th>
          <th class="w-10 text-center">RUT</th>
          <th class="w-25 text-center">Nombre</th>
          <th class="w-25 text-center">Apellido</th>
          <th class="w-10 text-center">Correo</th>
          <th class="w-10 text-center">Estado</th>
          <th class="w-10 text-center">Acciones</th>
        </tr>
        </thead>
        <tbody *ngFor="let u of usuarios; let i = index">
        <tr>
          <td>{{u.id}}</td>
          <td class="text-center">{{u.rut + u.dv | rutPipe}}</td>
          <td>{{u.nombre}}</td>
          <td>{{u.apellido}}</td>
          <td class="text-right">{{u.correo}}</td>
          <td class="text-center">{{u.estado ? 'Confirmado' : 'Registrado'}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-info mb-0 mr-1" (click)="editar(u)" ngbTooltip="Editar Usuario"><i class="fa fa-edit"></i></button>
            <button class="btn btn-sm btn-danger mb-0" (click)="delete(u, i)" ngbTooltip="Eliminar Usuario"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
